/* target every possible border in the grid */
.fc td,
.fc th,
.fc .fc-scrollgrid,
.fc .fc-scrollgrid td,
.fc .fc-scrollgrid th,
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  border-color: #6a6a6a !important;
}

.fc table{
    border-radius: 10px !important;
    overflow: hidden;
}

/* Customize the horizontal line */
.fc .fc-timegrid-now-indicator-line {
    border-color: red;
    border-style: solid;
    border-width: 3px 0 0 0;
}
